body {
     font-family: 'Noto Sans Tc', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     font-family: 'Noto Sans Tc', sans-serif;
}

.subheading {
	 font-family: 'Noto Sans Tc', sans-serif;
}

.bg-primary {
	background-color: #a3d1d1;
        background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}
